* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1em;
  font-family: Arial;
  background: #383838;
  color: white;
  padding-top: 1.5em;
}

h1{
    margin: .1em 0 .5em 0;
    font-size: 1.2em;
}

.row{
  margin-bottom: .5em;
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center; */
}

.row :first-child{
  text-align: right;
}

.row input.src{
  text-align:right;
  direction: rtl;
}

.row :last-child{
  /* margin-right: 2em; */
}
/* .row.edit label{
  margin
} */

.row input[disabled]{
  border: none;
  background: #383838;
  color: white;
}

#new-row{
  margin-top: 2em;
}

.separator{
  font-size: 1.4em;
}

input[type=text]{
  width: 20em;
  min-width: 20em;
  margin: none;
}

#add-btn{
  border: none;
  background: #383838;
  color: white;
  cursor: pointer;
  margin-left: .5em;
  font-size: 1.15em;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid white;
}

#add-btn:focus,
#add-btn:hover{
  outline: none;
  background-color: #6b6b6b;
}

.picto{
  display: inline-block;
  width: 1.25em;
  height: 1.2em;
  font-size: 2em;
  font-family: 'Helvetica';
  text-align: center !important;
  cursor: pointer;
}

.edit{
  color: #dfdfdf;
}
.edit[data-edit='true']{
  animation-duration: 2s;
  animation-name: shakeit;
  animation-iteration-count: infinite;
  transform: rotate(150deg);
  animation-delay: 1s;
}

@keyframes shakeit{
  0% {transform: translateY(0) rotate(150deg);}
  2.5% {transform: translateY(-5px) rotate(150deg);}
  7.5% {transform: translateY(8px) rotate(150deg);}
  10% {transform: translateY(0) rotate(150deg);}
}

.state[data-enabled="true"]{
  color: #09c309;
}
.state[data-enabled="false"]{
  color: #aaaaaa;
}

.delete.picto{
  color: #cf6565;
}

/* space between picto buttons */
td.action:not(:last-child){
  padding-right: 2em;
}

tr:hover{
  background: #414141;
}
tr:hover input[disabled]{
  background: #414141 !important;
}
table{
  border-collapse:collapse;
}
