* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1em;
  font-family: Arial;
  background: #383838;
  color: white;
  padding-top: 1.5em;
}

h1{
    margin: .1em 0 .5em 0;
    font-size: 1.2em;
}

.row{
  margin-bottom: .5em;
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center; */
}

.row :first-child{
  text-align: right;
}

.row input.src{
  text-align:right;
  direction: rtl;
}

.row :last-child{
  /* margin-right: 2em; */
}
/* .row.edit label{
  margin
} */

.row input[disabled]{
  border: none;
  background: #383838;
  color: white;
}

#new-row{
  margin-top: 2em;
}

.separator{
  font-size: 1.4em;
}

input[type=text]{
  width: 20em;
  min-width: 20em;
  margin: none;
}

button{
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  background: #4f4f4f;
  color: white;
  cursor: pointer;
  margin-left: .5em;
  padding: 3px 7px;
}

button:hover{
  color: black;
  background: #c7c7c7;
  border-color: #4f4f4f;
}
